.signature {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright:hover {
  filter: brightness(1.5) blur(1px);
}

.copyright {
  border-radius: 0.5rem;
  width: fit-content;
  text-decoration: none;
}
