div#sidebar {
  background-color: var(--background-fore);
  overflow: hidden;
  width: 100%;

  padding-left: 32px;
  padding-right: 32px;

  display: flex;
  flex-direction: column;
}

div#input-area {
  flex-grow: 1;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
}

div#input-area textarea {
  resize: none;
  border: none;
  width: 100%;

  transition: 0.25s;
  flex-grow: 1;

  background-color: var(--background-fore);
  color: var(--text);

  padding-top: 12px;
  margin-bottom: 12px;
}

div#input-area textarea:focus {
  padding: 0.5rem;
  transition: all 0.25s;
  background-color: var(--background-main);
}

div#winners {
  flex-grow: 1;
  padding-top: 16px;
  color: var(--neutral);
}

ul#recent-winners {
  overflow: auto;
  color: var(--text);
}

#count {
  color: var(--neutral-dark);
}
