div#raffle {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}
  
div.entry {
  color: var(--neutral-dark);
  height:100%;
  background-color: var(--background-fore);
  border: 1px solid var(--neutral);
  border-radius: 0.25rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.highlight {
  color: var(--primary);
  border-color: var(--primary);
  border: 8px solid;
  transition: 0.25s;
  font-weight: bold;
}

@keyframes highlight-fade {
  0% {color: var(--neutral-dark); border: 1px solid var(--neutral);}
  50% {color: var(--primary); border: 4px solid var(--neutral);}
  100% {color: var(--neutral-dark); border: 1px solid var(--neutral);}
}

@keyframes highlight-win {
  0% {color: var(--neutral-dark); border-color: var(--neutral); background-color: var(--background-fore);}
  100% {color: var(--neutral-dark); border-color: transparent; background-color: var(--background-main)}
}