@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;500;700&family=PT+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff5f1b;
  --secondary: #ff6900;
  --neutral: #c5c6c7;
  --neutral-dark: #56596f;
  --background-main: #fff;
  --background-fore: #f5f6ff;
  --text: #172038;
}

html {
  scroll-behavior: smooth;
  font-size: 1.5;
}

h1 {
  color: var(--text);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 1px;
}

h3,
label {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.65px;
  line-height: 24px;
}

label {
  font-weight: 500;
}

p,
ul,
textarea {
  color: var(--text);
  font-family: "PTSerifRegular", serif;
  font-size: 18px;
  letter-spacing: 0.18px;
}

p {
  line-height: 27px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
}

div#sidebar {
  flex-grow: 1;
}

div#main {
  flex-grow: 2;
}

div#raffle,
div#home {
  min-width: 66vw;
  min-height: calc(100vh - 128px);
}

div#header {
  flex-grow: 0;

  background-color: var(--primary);
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#header img {
  height: 66%;
}

div#header h1 {
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
}

.github {
  background-color: var(--text);
  color: #fff;
  transition: 0.25s;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.625px;
  line-height: 24px;

  padding: 12px;
  text-decoration: none;
}

.github:hover {
  color: #fff;
  background-color: #50558b;
  transition: 200ms;
}

.invisible {
  opacity: 0;
}

@media (orientation: portrait) {
  .content {
    flex-direction: column;
  }

  div#sidebar,
  div#main {
    width: 100%;
    height: calc(100vh - 64px);
  }

  div#main {
    border-top: 1px solid var(--neutral);
  }
}
